@play : 'Play', sans-serif;
@fira : 'Fira Sans', sans-serif;
@monts : 'Montserrat', sans-serif;

/*----------------- Responsive ---------------------*/
@media (max-width: 1285px){
	
	section.contact-sec-1 .prelative.container .box-content,
	section.showroom-sec-1 .prelative.container .box-content{
		min-height: 100%;
	}
	header.head .bottom_section .menu_rightsl ul li, header.head .bottom_section .menu_rightsl ul li a{
		font-size: 13px;
	}
	section.showroom-sec-1 .prelative.container .box-content .caption p,
	section.contact-sec-1 .prelative.container .box-content .caption p{
		font-size: 17px;
	}
	section.contact-sec-1 .prelative.container .box-content .hr-garis{
		margin: 10px 0;
	}

}

@media (max-width: 1200px){
	
}

/* Large desktop */
@media (max-width : 1135px){
	
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		/*padding: 0 15px;*/
	}

	.navbar{
		margin: 0;
	}
	
}

@media (max-width : 1002px) { 

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}

}

@media (max-width : 991px) { 
	
	.navbar-default {
		background-color: #000;
		border-color: #000;
	}
	.navbar-default .navbar-brand{
		margin: 0px;
	}
	
}


@media (max-width: 992px) {

    
	
}

@media (max-width: 979px) {
	
	

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}

}
	
@media (min-width: 768px) {
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
		.bg-primary{
			background-color: #19487e !important;
		}
	}
	nav.navbar{
		.navbar-toggler{
			padding: 0px;
			border: 0;
		}

		ul.navbar-nav{
			padding: 0.4rem 0;
			li{
				// padding: 0.6rem 0;
				margin-right: 0;
				border-bottom: 1px solid #ccc;
				a.nav-link{
					font-family: @monts;
					font-size: 13px;
					color: #fff !important;
					// padding: 0px;
				}
			}
			li:last-child{
				border-bottom: 0;
			}

			.dropdown-menu{
				background-color: transparent;
				box-shadow: none;
				border: 0px;
				padding: 0px;
				.dropdown-item{
					color: #fff;
					font-family: @monts;
					font-size: 12px;
					padding: 0.25rem 1rem;
				}
			}
		}
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption{
		position: relative;
		left: inherit;
		bottom: inherit;
		background: rgb(209,205,194);
		background: linear-gradient(90deg, rgba(209,205,194,1) 0%, rgba(178,174,165,1) 100%);
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs h5 br{
		display: none;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs h5{
		font-size: 1.3rem;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs p{
		font-size: 0.9rem;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption{
		padding-bottom: 2rem;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-indicators{
		bottom: 0px;
	}

	section.project-sec-2 .prelative.container .content-box{
		padding-left: 0; padding-right: 0;
	}

	section.covertop-products .inners_section .description_text h3{
		font-size: 25px;
	}
	section.covertop-products .inners_section .description_text p{
		font-size: 14px;
	}
	section.covertop-products .inners_section .py-5{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	section.covertop-products .inners_section .banner_picture{
		// padding-bottom: 3rem;
	}
	section.project-sec-2 .prelative.container .content-box .box-content .contentttt{
		padding: 0.5rem 1rem;
		height: auto;
	}
	section.project-sec-2 .prelative.container .content-box .box-content .contentttt .subtitle a p,
	section.project-sec-2 .prelative.container .content-box .box-content .contentttt .title a p{
		margin: 0;
		font-size: 14px;
	}
	section.project-sec-2 .prelative.container .content-box .box-content .contentttt .subtitle a p{
		font-size: 12px;
	}

	section.brochures-sec-2 .prelative.container .content-box{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	

	section.breadcrumb-det .prelative.container .block-back-link a, 
	section.breadcrumb-det .prelative.container ol.breadcrumb li.breadcrumb-item, 
	section.breadcrumb-det .prelative.container ol.breadcrumb li.breadcrumb-item a, 
	section.breadcrumb-det .prelative.container ol.breadcrumb li.breadcrumb-item.active, 
	section.breadcrumb-det .prelative.container ol.breadcrumb li.breadcrumb-item.active a{
		font-size: 11px;
	}
	section.breadcrumb-det .prelative.container ol.breadcrumb{
		margin-bottom: 0;
	}
	.block-back-link.text-right{
		text-align: left !important;
	}
	section.product-det-sec-2 .prelative.container .box-content .title h2{
		font-size: 18px;
	}
	select.change_url_prd{
		border-radius: 0px;
	}
	section.breadcrumb-det{
		padding-bottom: 0.9rem;
	}
	section.contact-sec-1 .prelative.container .box-content{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	body{
		padding-top: 75px;
	}
	section.products-list-sec-1 .glass-kanan ul{
		margin-right: 0;
		padding-left: 0;
		display: block;
		text-align: center;
	}
	section.products-list-sec-1 .glass-kanan ul li a{
		font-size: 10px;
	}

	section.brochures-sec-2 .prelative.container .content-box,
	section.project-sec-2 .prelative.container .content-box {
	    padding: 0.8rem 15px 1.5rem;
	}
	section.project-sec-1,
	section.brochures-sec-2{
		margin-top: 0;
		margin-bottom: 0 !important;
		padding-bottom: 1.5rem;
		background-color: #e6eaee;
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-indicators{
		bottom: inherit;
		right: 10px;
		top: 15px;
		margin: 0px;
		width: auto;
		left: inherit;
		display: block;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-indicators li{
		display: block;
		flex: inherit;
		margin-bottom: 0.4rem;
	}

}


/* Landscape phone to portrait tablet */
@media (max-width: 600px) {



}

/* Landscape phones and down */
@media (max-width: 480px) {



}