@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

@play : 'Play', sans-serif;
@Fira : 'Fira Sans', sans-serif;
@Mont : 'Montserrat', sans-serif;
 
html,body{
    position: relative;
    overflow-x: hidden;
    background: #fff;
}

h1,h2,h4,h5,h6,a{
    font-family: @play;
    margin-bottom: 0;
}

h3{
    font-family: @Mont;
}

.prelative.container{
    max-width: 1340px;
}

section.home-sec-1{
    .image{
        img.gambar{
            width: 100%;
        }
        width: 100%;
        position: relative;
        padding-bottom: 40px;
        // max-width: 1476px;
        .judul {
            // padding-top : 33px;
            // padding-left : 33px;
            p{
                font-size: 23px;
                font-weight: 700;
                color : #0a2037;
                position: absolute;
                top: 25px;
                left: 25px;
                line-height: 1.3;
            }
        }
        .subjudul {
            p{
                font-size: 15px;

                font-family: 'Fira Sans',sans-serif;
                font-weight: 300;
                color: #545454;
                line-height: 1.3;

                position: absolute;
                margin-top: 115px;
                left: 25px;
                top: 10px;
                max-width: 310px;
            }
        }

        .click{
            position: absolute;
            bottom: 60px;
            left: 25px;

           p{
                font-size: 12px;
                font-family: @Fira;
                color : #49494a;
                font-weight: 700;
                display: inline-block;
                padding-left: 13px;
            } 
        }        
    }
    .image.middle{
        img{
            width: 100%;
        }
        
    }

    }
    .image.bottom{
        
        width: 100%;
        position: relative;
        padding-bottom: 145px;

        img.gambar{
            width: 100%;
        }

        .judul1{
            padding-top:33px;
            padding-left:33px;
            p{ 
                font-family: @Mont;
                color: #fff;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.3;

                position: absolute;
                top:30px;

            }
        }

        .subjudul1{
             p{
                font-size: 15px;
                color: #d3d3d3;
                font-family: @Fira;
                font-weight: 300;
                line-height: 1.4;

                position: absolute;
                margin-top: 100px;
                left: 33px;
                top:10px;
             }
        }

        .klik{
            position: absolute;
            bottom: 100px;
            left: 25px;

       p{
            font-size: 13px;
            font-family: @Fira;
            display: inline-block;
            color : #fff;
            padding-left: 13px;
            font-weight: 700;
        }
        }
        
}

.prelative{
    position: relative;
}
.box-content.banner-full{
    .image{}
    .box-description-mid{
        position: absolute;
        bottom: 30%;
        left: 0;
        width: 100%;
        z-index: 30;
        text-align: center;
        p{
            font-size: 33px;
            font-weight: 700;
            color: #fff;

            font-family: @Mont;
            
            display: block;
            max-width: 950px;
            margin: 0 auto 50px;
            line-height: 1.2;
        }
        .click-about-us{
            img{
                display: block;
                margin: 0 auto 10px;
            }
            a{
                font-family: @Fira;
                font-size: 16px;
                font-weight: 600;
                color: #fff; 
                text-decoration: none;
            }
        }
    }
}

section.home-sec-2{
   
    // min-height: 440px;
    // display: table;
    // vertical-align: middle;
    // height: 100%;
    // width: 100%;
    //margin-top: 115px;
    background-color: #fff;

    .prelative.container2 {
        vertical-align: middle;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .our{
        p{
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: #8c8c8c;
        }
    }

    .logo{
    //    margin-top: 46px;
       padding: 0px;
    }
    .caption{
        font-size: 28px;
        color: #ffffff;
        padding-top: 105px;
    }
    .subtitle{
        font-size: 15px;
        color: #e8e8e8;
        padding-top: 35px;
    }
    .click{
        padding-top: 55px;
        a{
            text-decoration: none;
            text-decoration-line: underline;
            font-size: 12px;
            color: #ffffff;
            font-weight: 700;
        }
    }
}

section.home-sec-3{
    min-height: 670px;
    .box-content.quality{
        text-align: center;
        padding-bottom: 60px;
        padding-top: 140px;
        .title{
            font-size: 30px;
            padding-bottom: 20px;
        }
        .subtitle{
            font-size: 18px;
            color: #606060;
        }
    }
    .image{
        position: relative;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .caption{
        color: #606060;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }
}


section.breadcrumb-det{
    .prelative.container{
        // padding: 0;
        margin-top: 10px;
        ol.breadcrumb{
            padding-left: 0;
            width: 100%;
            background: transparent;
            li.breadcrumb-item,
            li.breadcrumb-item.active{
                font-size: 13px;color: #464646;text-transform: uppercase;text-decoration: none;
                a{
                    font-size: 13px;color: #464646;text-transform: uppercase;text-decoration: none;
                }
            }
        }
        .block-back-link{
            a{
                font-size: 13px;color: #464646;text-transform: uppercase;text-decoration: none;
            }
        }
    }
}

section.product-sec-1{
    .box-content{
        .title{
            h3{
                font-size: 29px;font-weight: 700;color: #0b2e5c;font-family: @Mont;
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }
}

section.product-sec-2{
    .prelative.container{
        padding: 0;
        .box-content{
            padding: 7px;
            .image{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            width: 100%;
            position: relative;
            // padding-bottom: 40px;
            // max-width: 1476px;
            .title {
                // padding-top : 33px;
                // padding-left : 33px;
                p{
                    font-family: @Mont;
                    font-size: 24px;
                    font-weight: 700;
                    color : #0a2037;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    line-height: 1.3;
                }
            }
            .subtitle {
                p{
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    color: #545454;
                    line-height: 1.4;
                    position: absolute;
                    margin-top: 100px;
                    left: 30px;
                    top: 10px;
                    max-width: 300px;
                }
            }
    
            .klik{
                position: absolute;
                bottom: 30px;
                left: 30px;
    
               p{
                    font-family: @Fira;
                    font-size: 13px;
                    color : #0a2037;
                    font-weight: 600;
                    display: inline-block;
                    padding-left: 12px;
                } 
            }        
        }
    }
}

section.project-sec-1{
    margin-top: -10px;
    .row{
        background: #0b2e5c;
        ul{
            list-style: none;
            padding: 0;
            margin: 15px auto;
            li{
                display: inline-block;
                padding: 0 20px;
                p{
                    color: #ffffff;font-size: 15px;font-weight: 300;
                    margin-bottom: 0;
                }
                a{
                    text-decoration: none;
                    color: #ffffff;font-size: 15px;font-weight: 700;
                }
            }
        }
    }
}

section.project-sec-2{
    .prelative.container{
        background: #e6eaee;
        .content-box{
            padding: 35px 45px 55px;
            .box-content{
                margin-top: 20px;
                background: #fff;
                .image{
                    img{
                        width: 100%;
                    }
                }
                .contentttt{
                    height: 60px;
                    .title{
                        a{
                            font-size: 15px;color: #000000;font-weight: 700;text-decoration: none;font-family: @fira;
                            p{
                                margin-left: 20px;
                                margin-top: 20px;
                                margin-bottom: 0;
                                font-size: 15px;color: #000000;font-weight: 700;font-family: @fira;
                            }
                        }
                    }
                    .subtitle{
                        a{
                            font-size: 15px;color: #000000;font-weight: 300;text-decoration: none;font-family: @fira;
                            p{
                                margin-left: 20px;
                                margin-bottom: 20px;
                                font-size: 15px;color: #000000;font-weight: 300;font-family: @fira;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.brochures-sec-2{
    margin-bottom: 80px;
    .prelative.container{
        background: #e6eaee;
        .content-box{
            padding: 35px 45px 55px;
            .box-content{
                margin-top: 20px;
                // background: #fff;
                .image{
                    img{
                        // width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        position: relative;
                        display: block;
                    }
                }
                .contenttt{
                    height: 60px;
                    .title{
                        a{
                            margin-top: 25px;
                            margin-bottom: 0;
                            font-size: 15px;
                            color: #000;
                            font-weight: 700;
                            font-family: 'Fira Sans',sans-serif;
                            text-align: center;text-decoration: none;
                            p{
                                margin-left: 20px;
                                margin-top: 20px;
                                margin-bottom: 0;
                                font-size: 15px;color: #000000;font-weight: 700;font-family: @fira;
                            }
                        }
                    }
                    .subtitleeeee{
                        a{
                            font-size: 15px;color: #000000;font-weight: 300;text-decoration: none;font-family: @fira;
                            p{
                                text-align: center;
                                margin-left: 20px;
                                margin-bottom: 20px;
                                font-size: 15px;color: #000000;font-weight: 300;font-family: @fira;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.product-det-sec-1{
    .prelative.container{
        // padding: 0;
        .title{
            h3{
                padding-top: 60px;
                font-size: 35px;font-weight: 700;font-family: @Mont;color: #0a2037;
            }
        }
    }
}

section.product-det-sec-2{
    .prelative.container{
        // padding: 0;
        margin-top: -20px;
        .box-content{
            background: #0b2e5c;
            .title{
                h2{
                    margin: 45px 0;
                    text-align: center;
                    font-size: 29px;color: #ffffff;font-weight: 700;font-family: @Mont;text-transform: uppercase;
                }
            }
        }
    }
}

section.product-det-sec-3{
    .prelative.container{
        margin-top: 50px;
        // padding: 0;
        .title{
            p{
                font-size: 15px;font-family: @Mont;font-weight: 700;color: #3d3d3d;margin-bottom: 10px;
            }
        }
        .titleeee{
            p{
                font-size: 20px;color: #0b2e5c;font-weight: 700;font-family: @Mont;
            }
        }
        .dekssss{
            p{
                font-size: 13px;color: #9d9d9d;opacity: 0.7;
            }
        }
    }
}

.garis-proddd{
    background: #e8e8e8;
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

.yaya{
    .prelative.container{
        // padding: 0;
    }
}

.garis-prodddsssss{
    background: #e8e8e8;
    height: 1px;
    width: 100%;
    margin: 50px 0;
}

form{
    .form-row{
        input.form-control{
            border-radius: 0px;
            height: 30px;
            color: #000000;
            font-weight: 300;
            font-family: @Fira;
            font-size: 15px;
        }
        .submit{
            img{
                position: absolute;
                right: 85px;
                top: 55px;
            }
            a{
                text-decoration: none;
                p{
                    position: absolute;
                    font-weight: 600;
                    font-size: 16px;
                    color: #0a2037;
                    right: 20px;
                    top: 55px;
                }
            }
        }
    }
}

section.product-det-sec-4{
    padding-bottom: 100px;
    .title{
        h3{
            font-size: 20px;font-weight: 700;color: #000000;opacity: 0.45;text-align: center;
        }
    }
    .box-content{
        background: #f8f8f8;
        height: 315px;
        .title{
            a{
                font-size: 13px;
                font-weight: 700;
                color: #0b2e5c;
                margin-top: 35px;
                margin-bottom: 0;
                height: 45px;
                text-decoration: none;
            }
            p{
                font-size: 13px;
                font-weight: 700;
                color: #0b2e5c;
                margin-top: 35px;
                margin-bottom: 0;
                height: 45px;
                margin-left: 20px;font-family: @Mont;margin-right: 20px;
            }
        }
        .subtitle{
            a{
                font-size: 13px;color: #818181;font-family: @Mont;
                text-decoration: none;
            }
            p{
                font-size: 13px;color: #818181;font-family: @Mont;
                margin-left: 20px;
                margin-top: -5px;
            }
        }
    }
}


section.products-list-sec-1{
    .glass{
        h5{
            font-size: 20px;font-weight: 700;color: #0b2e5c;font-family: @Mont;margin-bottom: 10px;
        }
        p{
            font-size: 13px;font-weight: 400;color: #9d9d9d;font-family: @Mont;
        }
    }
    .glass-kanan{
        ul{
            list-style: none;
            li{
                display: inline-block;
                a{
                    font-size: 13px;font-weight: 400;color: #9d9d9d;font-family: @Mont;text-decoration: none;
                }
            }
        }
    }
}

section.products-list-sec-2{
    padding-bottom: 100px;
    .row{
        margin-top: -10px;
        .col-md-10{
            padding: 0 5px;
            .box-content{
                background: #f8f8f8;
                height: 315px;
                margin-top: 20px;
                .title{
                    a{
                        font-size: 13px;
                        font-weight: 700;
                        color: #0b2e5c;
                        margin-top: 35px;
                        margin-bottom: 0;
                        height: 45px;
                        text-decoration: none;
                    }
                    p{
                        font-size: 13px;
                        font-weight: 700;
                        color: #0b2e5c;
                        margin-top: 35px;
                        margin-bottom: 0;
                        height: 45px;
                        margin-left: 20px;font-family: @Mont;margin-right: 20px;
                    }
                }
                .subtitle{
                    a{
                        font-size: 13px;color: #818181;font-family: @Mont;
                        text-decoration: none;
                    }
                    p{
                        font-size: 13px;color: #818181;font-family: @Mont;
                        margin-left: 20px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .block-top-filterblue form .form-group label{
        height: 34px;
    }
    .block-top-filterblue form .form-group{
        margin-top: 15px;
    }
    section.product-sec-1 .box-content .title h3{
        font-size: 18px;
    }
    section.product-det-sec-4{
        padding-bottom: 50px;
    }
    section.product-det-sec-2 .prelative.container .box-content .title h2{
        font-size: 20px;
    }
}


@import 'subpage.less';
@import 'pandu.less';
@import 'subpg_qrcode.less';
@import 'media_styles_n.less';
@import 'media_styles_n2.less';