.blocks-widget_choose_events {
  clear: both;
}
.blocks-widget_choose_events .top-title {
  margin-top: 0;
}
.blocks-widget_choose_events .top-title h3 {
  font-size: 29px;
  font-weight: 700;
  color: #0b2e5c;
}
.blocks-widget_choose_events .row {
  margin: 0 -8px;
}
.blocks-widget_choose_events .row .col-md-30 {
  padding: 0 8px;
}
.blocks-widget_choose_events .lists_choose_event {
  clear: both;
}
.blocks-widget_choose_events .lists_choose_event .box_items {
  background-color: #ecebe9;
  margin-bottom: 0.95rem;
}
.blocks-widget_choose_events .lists_choose_event .box_items h4,
.blocks-widget_choose_events .lists_choose_event .box_items p {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}
.blocks-widget_choose_events .lists_choose_event .box_items h4 {
  font-size: 22px;
  font-weight: 700;
  color: #0a2037;
}
.blocks-widget_choose_events .lists_choose_event .box_items p {
  font-size: 13px;
  font-weight: 500;
  color: #464646;
}
.blocks-widget_choose_events .lists_choose_event .box_items p b,
.blocks-widget_choose_events .lists_choose_event .box_items p strong {
  font-weight: 700;
}
