@play : 'Play', sans-serif;
@Fira : 'Fira Sans', sans-serif;
@Mont : 'Montserrat', sans-serif; 
@encode : 'Encode Sans', sans-serif; 


.maw600{
	max-width: 580px;
}
.blocks-widget_choose_events{
	.top-title{
		h3{
			font-size: 29px;
			font-weight: 700;
			color: #0b2e5c;
		}
		margin-top: 0;
	}

	.row{
		.col-md-30{
			padding: 0 8px; 
		}
		margin: 0 -8px;
	}

	.lists_choose_event{
		.box_items{
			h4, p{
				display: block;
				margin: 0; padding: 0; line-height: 1.2;
				font-family: @Mont;
			}
			h4{
				font-size: 22px; font-weight: 700; color: #0a2037;
				margin-bottom: 0.6rem;
				a{
					color: #0a2037; text-decoration: none;
				}
			}
			
			p{
				b, strong{
					font-weight: 700;
				}
				font-size: 13px; font-weight: 500; color: #464646;
				margin-bottom: 1rem;
			}
			a.btn-link{
				margin: 0;
				font-family: @Fira;
				font-size: 12px; font-weight: 600; color: #49494a;
			}
			a.btn-link:hover,
			a.btn-link:focus{
				text-decoration: none;
				 color: #000;
			}
			background-color: #ecebe9; 
			margin-bottom: 0.95rem;
		}
		clear: both; 
	}

	.blocks_detail_event{
		h2{
			font-size: 22.5px;
			font-weight: 700;
			color: #0b2e5c;

			font-family: @Mont;
		}
		p{
			font-family: @Mont;
			b, strong{
				font-weight: 700;
			}
			font-size: 13px; font-weight: 500; color: #464646;
			margin-bottom: 1rem;
		}
	}

	clear: both;
}

.block_form-regis_events{
	p{
		font-size: 15px; font-weight: 700; color: #464646;
		display: block;
		text-align: center;
	}
	display: block;
	margin: 0 auto;
	max-width: 580px;

	form.form_reg{
		margin: 0;
		label{
			font-family: @encode;
			letter-spacing: 2px;
			font-size: 13px; font-weight: 700; color: #00304f; text-transform: uppercase;
		}

		textarea,
		input{
			font-family: @encode;
			font-size: 12px;
			font-weight: 400; color: #313131;
			border: 0;
			border-radius: 0;
			border-bottom: 1px solid #d7d7d7;
		}
		textarea{

		}

		button.btn-link{
			background: url('../images/backs_btn-submit-regis.png');
			width: 139px; height: 50px;
			padding: 0;
		}
	}
	clear: both;
}

.prelatife{
	position: relative !important;
}
#ui-datepicker-div{
	top: 10px;
    left: 10px;
}

section.sections_def_event,
section.outers_block_nevents{
	h5, h3, p{
		display: block;
		margin: 0; padding: 0; line-height: 1.3;
		font-family: @Mont;
	}
	h5{
		font-size: 18px; font-weight: 700; color: #464646;
		margin-bottom: 0.4rem;
	}
	h3{
		font-size: 22.5px; font-weight: 700; color: #0b2e5c;
		line-height: 1.25;
		display: block;
		margin-bottom: 0.9rem;
	}
	p{
		b, strong{
			font-weight: 700;
			 color: #464646;
		}
		font-size: 13px; font-weight: 500; color: #464646;
	}
	padding: 3rem 0;
	background-color: rgba(226, 218, 205, 0.8);
}

.back-white{
	background-color: #fff !important;
}
.back-grey1{
	background-color: #f3f3f3 !important;
}

section.sections_def_event{
	.content-verify{
		h5, p{
			display: block;
			margin: 0; padding: 0; line-height: 1;
			font-family: @Mont;
		}
		h5{
			font-size: 20px; font-weight: 700; color: #464646;
		}
		p{
			font-size: 18px; font-weight: 500; color: #464646;	
			a{
				font-weight: 500;
				color: #464646;
				text-decoration: none;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #464646;
			}
		}


		.boxs-form{
			form{
				input, button{
					font-family: @Fira;
				}
				input{
					border-radius: 0;
					font-size: 13px; font-weight: 700; 
					color: rgba(0, 48, 79, 0.3);
					text-transform: inherit;
					letter-spacing: 1px;
					border: 1px solid #bdbdbd;
					width: 330px;
				}
				input:placeholder{
					letter-spacing: 1px;
					text-transform: uppercase;
					color: rgba(0, 48, 79, 0.3);
				}
				button{
					border: 0px; border-radius: 0px;
					background-color: #071d2e;
					text-transform: uppercase;
					font-size: 14px; font-weight: 700;
					color: #fff;
					min-width: 140px;
				}
				margin-bottom: 0; margin: 0;
			}
		}

		.results_absents{
			margin: 0;
			.boxs_white{
				span{
					i.fa{
						color: #0b2e5c;
						font-size: 33px;
					}
				}
				background-color: #fff;
				border: 2px solid #a3a3a3;
				padding: 2.2rem 0; 
				display: block;
				text-align: center;
			}
		}


		.blocks_info_users{
			p{
				font-family: @Fira;
				color: #00304f;
				font-size: 13px; font-weight: 700;
				line-height: 2;
				text-transform: uppercase;
				margin-bottom: 0;
			}
		}

		clear: both;
	}
	clear: both;
}

.mw395{
	max-width: 395px;
}

header.custom_event{
	.logo_head{

	}
	h2.right-pages{
		font-family: @Mont;
		display: inline-block; vertical-align: middle; text-align: right; float: right;
		padding-top: 0.2rem;
		font-size: 33px; font-weight: 700; color: #fff;
	}
	background-color: #17487d;
	padding: 1rem 0;
}

footer.foot_events{
	padding: 2rem 0 1.5rem;
	background-color: #ededed;
	.lg_footers{}
	.ts_copyrights{
		text-align: center;
		p{
			display: block;
			margin: 0; margin-bottom: 0.2rem;
			font-family: @Fira;
			font-size: 12px;
			font-weight: 400; color: #49494a;
		}
		p.f2{
			font-family: @Fira;
			font-size: 11px;
			font-weight: 400; color: #49494a;
			a{
				text-decoration: none;
				color: #49494a;	
			}
		}
	}
	.ft-socials{
		ul{
			li{
				a{
					i.fa.fa-facebook{
						color: #144a86;
					}
					i.fa.fa-instagram{
						color: #bd0562;
					}
				}
			}
		}
	}
}

.alert.in.alert-block.fade.alert-success {
    display: block;
    opacity: 1;
    font-size: 13px;
}

.inlines-form{
	form{
		margin-bottom: 0;
		input.kode{
			width: 35px !important;
			display: inline-block !important;
		}
	}
}

button.btns_submits_contact{
	font-weight: 600;
	font-size: 16px;
	color: #0a2037;
	img{
		position: relative !important; 
		right: inherit !important; 
		top: inherit !important;
	}
	margin-top: 1.45rem;
}
button.btns_submits_contact:hover,
button.btns_submits_contact:focus{
	text-decoration: none;
	color: #0a2037;
}

section.contact-sec-1 .prelative.container .box-content .caption{
	padding-top: 30px;
	p{
		font-size: 16px;
	}
}

.alert.alert-danger{
	ul{
		margin-bottom: 0;
		li{
			font-size: 12.5px;
		}
	}
	margin: 0;
}
section.contact-sec-1 .prelative.container .box-content .hr-garis{
	margin: 20px 0;
}

section.footer-sec-2 .social-footer a i.fa{
	font-size: 20px;
}