@play : 'Play', sans-serif;
@fira : 'Fira Sans', sans-serif;
@monts : 'Montserrat', sans-serif;

.outers_blockdetail_inprddetail{
	
	.box-image{
		img{
			border: 1px solid #e7e7e7;
		}
	}

	.descriptions{
		font-family: @play;
		.title{
			p{
				color: #ed1c24;
				font-size: 25px; font-weight: 700;
				display: block;
				margin-bottom: 0;
			}
			display: block;
			padding-bottom: 0.5rem;
		}
		.item-code{

		}
		.item-code p,
		.item-code{
			font-size: 14px; font-weight: 400; color: rgba(0,0,0, 0.7);
		}
		
		.product-detailsss{
			.title{
				font-size: 13px;
				font-weight: 700;
				letter-spacing: 1px;
				color: #4e4e4e;	
			}
			.isi{
				font-size: 13px; font-weight: 400; color: rgba(0,0,0, 0.7);
			}
		}
		.hr-garis-prod{
			background-color: #e7e7e7;
			height: 1px;
			width: 100%;
			margin: 1rem 0;
		}
		.prodtit{}
		.prodisi{}
		clear: both;
	}

}

.container{
	max-width: 1345px;
}

header.head.homes_head{
	position: absolute;
	top: 0px; left: 0px;
	z-index: 250;
}
header.head{
	.tops_section{
		padding-top: 0rem;
		height: 37px; overflow: hidden;
		.rights_txt_info{
			line-height: 36px;
			display: block;
			ul.list-inline{
				li{
					font-family: @monts;
					font-size: 13px;
					font-weight: 400;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					vertical-align: top;
					i.fa{
						padding-left: 0.3rem;
						padding-right: 0.3rem;
					}
					a{
						font-family: @monts;
						font-size: 13px;
						font-weight: 400;
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
					}
					a:hover,
					a:focus{
						text-decoration: none;
						color: #f5f5f5;
					}
				}
				.list-inline-item:not(:last-child){
					margin-right: 0.9rem;
				}
				margin: 0; 
			}
		}
	}
	.bottom_section{
		padding-top: 0.9rem;
		.nbloc_steg{
			span{
				font-family: @monts;
				font-size: 15px;
				font-weight: 300;
				color: #fff;
				display: block;
				line-height: 1;
				text-align: right;
				a:hover,
				a:focus,
				a{
					text-decoration: none;
					color: #fff;
				}
				clear: both;
			}
		}
		.lines_bc_agrt{

		}
		.menu_rightsl{
			ul{
				margin: 0;
				padding: 0;
				li{
					font-family: @monts;
					font-size: 15px;
					font-weight: 700;
					color: #fff;
					a{
						font-family: @monts;
						font-size: 14px;
						font-weight: 700;
						color: #fff;
					}
					a:hover,
					a:focus{
						text-decoration: none;
						color: #f5f5f5;
					}
				}
				li.list-inline-item:not(:last-child) {
				    margin-right: 0.97rem;
				}
			}
		}
		clear: both;
	}

	background: url('../images/new/outers_back_header.jpg') repeat-x;
	height: 116px;
	width: 100%;
	clear: both;
}

html, body{
	height: 100%;
}

.fcs-wrapper.outers_fcs_wrapper{
	#myCarousel_home.carousel{
		.carousel-inner{
			.carousel-item{
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}
		}
		.carousel-caption{
			left: inherit; right: inherit;
			left: 0px;
			width: 100%;
			bottom: 25%;
			.bxsl_tx_fcs{
				bottom: 0%;
				max-width: 420px;
				h5{
					font-family: @monts;
					font-size: 34px;
					font-weight: 700;
					color: #0a2037;
					line-height: 1.2;
					display: block;
					margin-bottom: 1rem;
				}
				p{
					font-size: 18px;
					font-weight: 300;
					color: #000;
					font-family: @fira;
					line-height: 1.4;
					margin-bottom: 0.5rem;
				}
				a.profil{
					font-family: @fira;
					font-size: 14px; font-weight: 700; color: #49494a;
				}
			}
		}

		ol.carousel-indicators{
			li{
				width: 11px; height: 11px;
				border-radius: 50%;
				background-color: #ccc;
				cursor: pointer;
			}
			li.active{
				width: 11px; height: 11px;
				border-radius: 50%;
				background-color: #17487d;
				cursor: pointer;
			}
		}
	}

	clear: both;
}

section.covertop-products{
	background-color: #e6e0d4;
	.inners_section{
		.description_text{
			h3{
				font-family: @monts;
				font-size: 34px; font-weight: 700; color: #0a2037;
				line-height: 1;
				display: block;
				margin-bottom: 1rem;
			}
			p{
				font-family: @fira;
				font-size: 19px; font-weight: 300; color: #000;
				line-height: 1.5;
				display: block;
				margin: 0;
			}
		}
		.banner_picture{
			img{}
		}
	}
	clear: both;
}

section.footer-sec-2{
	font-family: @fira;
	.copyright{
		p{
			a{
				color: #000;
			}
		}
	}

	.social-footer{
		a{
			i.fa{
				color: #144a86;
			}
			i.fa-instagram{
				color: #852ab6;
			}
		}
	}
}
section.footer-sec-1{
	font-family: @fira;
	// margin-top: 3.5rem;
	margin-top: 2rem;
}

.block-top-filterblue{
	background-color: #0b2e5c;
	h3{
		display: block;
		font-family: @monts;
		font-size: 29px;
		font-weight: 700;
		color: #fff;
	}

	form{
		.form-group{
			label{
				font-family: @monts;
				font-size: 15px; font-weight: 500;
				color: #fff;
			}
			select{

			}
			select, input{
				border-radius: 0px;
			}

			margin-right: 10px !important;
			margin-bottom: 0 !important;
		}
		.form-group.lasts{
			margin-right: 0 !important;
		}
		button{
			border-radius: 0px;
			background-color: #03162b;
			border-color: #03162b;
		}
		button:hover,
		button:focus{
			background-color: #000E1D;
		}
		margin-bottom: 0;
	}
	clear: both;
}

section.footer-sec-1 .prelative.container .box-content-kanan .subtitle,
section.footer-sec-1 .prelative.container .box-content .subtitle{
	a{
		color: #fff;
	}
}

section.showroom-sec-2.inners_page .prelative.container .box-content .image.bottom{
	padding-bottom: 0;
}
section.showroom-sec-2.inners_page .prelative.container .box-content .image.bottom .klik{
	bottom: 40px;
}

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; position: fixed; visibility: initial; }
.header-affixs{
    // background-color: rgba(0, 146, 223, 0.95); #f37021
    background-color: #19487e;
    width: 100%;
    z-index: 1000;
    height: 90px;
    border-bottom: 3px solid #fff;
    z-index: 100000;
    .lgo_web_headrs_wb{
      padding-top: 0.2rem;
      a{
        display: block;
        max-width: 217px;
      }
    }
}

.menu-taffix{
  padding-top: 1.1rem;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 5px; }
.menu-taffix ul li a{ font-family: @monts; font-size: 14px; font-weight: 700; color: #fff; text-decoration: none; text-transform: uppercase; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #f5f5f5; }

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}

.blog-detail,
.blog-sec-1{
	.title{
		p{
			font-size: 17px;
		}

		ul{
			li{
				a{
					font-size: 16px;
					font-weight: 400; 
					color: #19487e;
				}
			}
			li:hover,
			li:focus{
				a{
					text-decoration: none;
					color: #000;
				}
			}
			list-style: none;
			margin: 0; padding: 0;
		}
	}

	.lainnya,
	.box-blog{
		.blog-box-container{
			img.img{}
			p{
				margin-bottom: 0;
			}
			.kategori-blog{
				p{
					font-size: 13px; font-weight: 400;
				}
			}
			.title-blog{
				h3{
					font-size: 16px; font-weight: 500; color: #000;
				}
			}
			.baca-selanjutnya{
				p{
					font-size: 13px; font-weight: 400; color: #797979;
				}
				a{
					color: #797979;
					text-decoration: none;
				}
			}
		}
		margin-bottom: 3rem;
	}
	clear: both;
}

.boxeds_detail{
	.kategori-date{
		p{
			font-size: 15px; font-weight: 400; color: #2C2C2C;
		}
		.kategori-kanan{
			
		}
	}
	.title{
		h1{
			font-size: 23px;
			font-weight: 700; color: #2C2C2C;
		}
	}
	.image{
		img{
			max-width: 100%;
		}
	}
	.content-blog{
		p,
		ol li,
		ul li{
			font-size: 14.5px;
			font-weight: 400; color: #383838;
		}
		p{
			line-height: 1.5;
		}
		h1, h2, h3, h4, h5{
			font-size: 700px;
			color: #000;
		}
		h1{ font-size: 35px; }
		h2{ font-size: 31px; }
		h3{ font-size: 27px; }
		h4{ font-size: 23px; }
		h5{ font-size: 20px; }
		clear: both;
	}
	clear: both;
}

section.sections_def_event .content-verify .boxs-form{
	form{
		input[type=number]{
			padding: 0;
			height: 35px;
			text-align: center;
		}
	}
}